/* Global Properties */
html {
  scroll-behavior: smooth;
}

body {
  background: #1f2235;
  font-family: "Baloo Tamma 2", cursive;
}

/* Main Heading Font */
.m-heading {
  font-family: "Roboto Slab", serif;
}

/* Navigation */
.navigation-link {
  border: 2px solid transparent;
}

.navigation-link:hover {
  text-decoration: none;
  border-bottom: 2px solid #17a2b8;
  transition: 0.5s ease;
}

/* Main Container height*/
.main-container {
  height: 92.50vh;
}

/* Mobile Optimization */
.main-container-mobile {
  min-height: 60vh;
}

.content h1 {
  font-size: 4rem;
}

/* Aligning items in main row */
.main_row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

/* Changing Name Font sixe */
.main_row h1 {
  font-size: 5rem;
}

/* Making the main image the size of the screen */
/* .main_row img {
  width: auto;
  height: 35rem;
} */

/* About Section */
.about {
  background: #17a2b8;
  border-radius: 0.5rem;
}

.card {
  border-bottom: 8px solid #17a2b8;
}

/* Social Media Section */
#social-media {
  background: #313552;
}

/* Add color to Social Media Links */
.media_link {
  padding: 1rem;
  max-width: 15rem;
  margin-left: 1rem;
  border: 2px solid #17a2b8;
  border-radius: 0.5rem;
}

.media_link:hover{
  background: #17a2b8;
  transition: 0.5s ease;
}

.media_link2 {
  padding: 1rem;
  max-width: 15rem;
  margin-left: 1rem;
  border: 2px solid #17a2b8;
  background-color: #17a2b8;
  border-radius: 0.5rem;
}

.media_link2:hover{
  background: #ffffff;
  transition: 0.5s ease;
}

/* This is to display the email */
.showEmail {
  margin-top: 1rem;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: 0.5s ease;
  width: 100%;
}

.modal_set {
  width: 100%;
  height: 100%;
}

.modal_set2 {
  width: 100%;
  height: 720px;
}

#text_head {
  font-size: medium;
}
